# Latex Templates   
*.aux
*.log
*.out
*.synctex.gz
*.toc

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
pip-wheel-metadata/
*.pytest_cache/
.pytest_cache/
.ipynb_checkpoints/
